<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <h2>GIF Search</h2>
    </div>
  </div>
  <hr />

  <div class="text-center">
    <label>Editor</label>
    <!-- <input type='text' placeholder='Search for gifs here' onKeyDown={props.searchGif} /> -->
    <input name="title" #searchTerm placeholder='Search for gifs here'>
    <button (click)="performSearch(searchTerm)"><i class="fa fa-search" aria-hidden="true"></i>
      Search</button>
  </div>
  <hr />
  <div *ngFor="let g of giphies">
    <img src="{{g.images.original.url}}" class="col-md-6">
  </div>
  <hr />
  <footer class="text-center">
    <p>Author: Hege Refsnes<br>
      <a href="mailto:hege@example.com">hege@example.com</a></p>
  </footer>
  <section class="hp-footer container-fluid">
    <footer class="text-center">
      <p>Author: Hege Refsnes<br>
        <a href="mailto:hege@example.com">hege@example.com</a></p>
    </footer>
  </section>

</div>